# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
*.swp

# Build output
dist/
build/

# Coverage
coverage/
.nyc_output/

# Misc
*.tgz
.cache/
.next/
out/

# MongoDB dump (optional if you're exporting backups)
dump/

# Test reports
test-output/

# PM2 logs
pids
*.pid
*.seed
*.pid.lock
